<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Teachers</title>
</head>
<body>
<h1>Teacher List</h1>
<table border="1">
    <thead>
        <tr>
            <th>Name</th>
            <th>Surname</th>
            <th>Age</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
    <tr th:each="teacher : ${teachers}">
        <td th:text="${teacher.name}"></td>
        <td th:text="${teacher.surname}"></td>
        <td th:text="${teacher.age}"></td>
        <td th:text="${teacher.email}"></td>
    </tr>

    </tbody>

</table>

</body>
</html>